<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Estoque Pronta Entrega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Estoque Pronta Entrega</h1>

    <div class="produtos-container">
        {% for produto in produtos %}
            <div class="produto-card">
                <img src="{{ produto.IMAGEM_PRODUTO }}" alt="{{ produto.PRODUTO }}">
                <div class="info">
                    <p><strong>Marca:</strong> {{ produto.MARCA }}</p>
                    <p><strong>Descrição do Produto:</strong> {{ produto.PRODUTO }}</p>
                    <p><strong>Comprimento:</strong> {{ produto.COMPRIMENTO }}</p>
                    <p><strong>Largura:</strong> {{ produto.LARGURA }}</p>
                    <p><strong>Altura:</strong> {{ produto.ALTURA }}</p>
                    <p><strong>Diâmetro:</strong> {{ produto.DIAMETRO }}</p>
                    <p><strong>De:</strong> {{ produto.DE }}</p>
                    <p><strong>Por:</strong> {{ produto.POR }}</p>
                    <p><strong>Código:</strong> {{ produto.CODIGO }}</p>
                    <p><strong>Estoque disponível:</strong> {{ produto.ESTOQUE }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>

